[{
  "Method": "POST",
  "Path": "^/service/test/confirm",
  "Response": {
    "StatusCode": 201,
    "Body": true
  }
}, {
  "Method": "POST",
  "Path": "^/service/test/(.*)/action",
  "Response": {
    "Body": {"value": "9999999", "arbitrary_json": ["1234"]}
  }
}, {
  "Method": "GET",
  "Path": "^/service/slow",
  "Response": {
    "Defer": 0,
    "Body": true
  }
}]
